
    <div class="bottom-container">
        <a class="footer-link fa-brands fa-linkedin" href="https://www.linkedin.com/in/anurag-kumar-099b251b6/">  LinkedIn</a>
        <a class="footer-link fa-brands fa-twitter" href="https://twitter.com/why_so_seriousI">  Twitter</a>
        <a class="footer-link fa-brands fa-web" href="https://akashyap25.github.io/Anuragsweb/">Website</a>
        <p class="copyright">© Anurag Kashyap.</p>

      </div>
