<%- include('partials/header'); %> 
<div class="contact-me">
    <h2 style="margin-bottom: 40px;">Get In Touch</h2>
    <h3 style="margin-bottom: 20px;">Always available for you.</h3>
    <p class="touch" style="margin-bottom: 20px;">I'm available for any development works,Drop here if we can work together and have a cup of coffee😊.</p>
    <a class="btn" href="mailto:anuragkashyap026@gmail.com">CONTACT ME</a>
  </div>
</div>

<%- include('partials/footer'); %> 